.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  z-index: 100;
}
.header__logo {
  position: fixed;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
  height: 60px;
  object-fit: contain;
  top: 23px;
}
/* .header__icon {
  padding: 20px; 
}
*/
